/* GutenbergSearch.css */


@font-face {
    font-family: Arvo;
    src: url(./font/Arvo/Arvo-Regular.ttf);
  }

  @font-face {
    font-family: Namum;
    src: url(./font/Arvo/NanumMyeongjo-Regular.ttf);
  }

body {
    font-family: Arvo, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .gutenberg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 2vw;
    
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
    
}
    
  

  .gutendex-link {
    font-family: 'Arvo', sans-serif;
    font-size: 1.0vw;
    color: #000; 
    margin-right: 1vw;
    text-decoration: none;
    margin-bottom: 2vh;
    padding: 1vw;
  }
  
  .gutendex-link:hover {
    
    font-weight:bolder;
  }
  
  .navbar-container {
    display: flex;
    font-family: 'Arvo', sans-serif;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    width: 100%;
    opacity:0.9;
    
    
  }
  .btn41-43 {
    
    font-family: Arvo, sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    width: 6vw;
    
  }
  
  .btn-41 {
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;
    color: rgb(0, 0, 0);
    
  }
  
  .btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    
    background: rgb(0, 0, 0);
    transition: all 0.3s ease;
  }
  
  .btn-41:hover {
    color: rgb(255, 255, 255);

  }
  
  .btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .btn-41:active {
    top: 2px;
    align-items:center;
  }
  
  .search-form {
    
    display: flex;
    gap: 1vw;
    
    
    
  }
  
  .search-form input,
  .search-form select,
  .search-form button {
    font-family: Arvo, sans-serif;
    font-weight: bold;
    padding: 1vh;
    font-size: 1.2vw;
    height:auto;
    font-size: 1vw;
    background:rgba(255, 255, 255, 0.445);
    
    
  }

  .search-form input{
    width:14vw;
  }
  
  .filter-container {
    display: flex;
    align-items: flex-end;
    
    
   
  }
  
  
  
  .filter-container select,
  .filter-container input {
    padding: 1vh;
    font-size: 1vw;
    width: 100%;
    background:rgba(255, 255, 255, 0.445);
  }

  .filter-container input{
    width: 16.5vw;
  }
  
  .results-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    width: 100%;
  }
  
  .results-container li {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #0a0a0a;
    margin-bottom: 2vh;
    padding: 1.5vw;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity:0.5;
    filter: blur(14px);
  }
  
 
  
 
  .book-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:4vw;
    width: 100%;
    position:relative;
    
    
  }


  .clickable-text {
    cursor: pointer;
    transition: color 0.3s, text-shadow 0.3s;
  }
  
  .clickable-text:hover {
    color: #000000; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); 
  }
  
  .info-container {
    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    
  }
  
  .title-container,
  .author-container,
  .bookshelves-container,
  .language-container {
    display: block;
    font-family: 'Namum', sans-serif;
    align-items: flex-end;
    font-size: 1.5vw;
    

  }
  
  .titles {
    font-family: 'Arvo',sans-serif;
    font-size: medium;
    font-style: italic;
    font-weight: 700;
    
  }
  
  .book-image {
    align-items: flex-end;
    flex: 0 0 30%;
    margin-top: 2vh;
   
    position: relative;
  }
  
  .book-image img {
    max-width: 100%;
    height: 80%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    border-radius: 10%;
  }
  
  .hover-effect:hover .book-image img {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  
 
  .pagination-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1vh;
    background-color: #c3cbdc6e;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    z-index:2;
  }
  
  
  
  .pagination-container span {
    padding: 2vh;
    font-size: 1.2vw;
  }
  

  @media (max-width: 768px) {
    
    .gutenberg-container{
        flex-direction: column;
    }
  
    .navbar-container {
      display: flex;
      flex-direction: column; 
      align-items: center;
      
      margin-bottom: 2vh;
      
    }

    .gutendex-link{
        margin-top: 2vh;
        font-size: 2vw;
    }

  
    .search-form,
    .filter-container
     {
      margin-top: 1vh; 
    }
  
    .results-container li {
      margin-bottom: 1vh;
      padding: 1.3vw;
      border-radius: 5px;
      
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      
    }
  
    .info-container {
      font-size: 1.4vw;
    }
  
    .titles {
      font-size: 1.2vw;
    }
  
    .title-container,
    .author-container,
    .bookshelves-container,
    .language-container {
      font-size: 2.1vw;
    }
  
   
    
  
    .search-form input,
    .search-form select {
      width: 100%;
    }
  
   
    .filter-container {
      width: 100%;
    }
  
  
    .filter-container input {
      width: 100%;
    }
  
    
    .results-container li {
      gap: 1vw;
      align-items: center;
    }
  
    
    .book-container {
      gap: 2vw;
    }
  
    
    .book-image {
      flex: 0 0 25%;
    }
  
    
    .pagination-container {
      width: 100vw;
      
    }


    .pagination-container span {
        
        font-size: 2vw;
      }



      .btn41-43 {
    
        font-family: Arvo, sans-serif;
        font-weight: 500;
        background: transparent;
        outline: none !important;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        width: 15vw;
        font-size: 2vw;
        
      }
      
      .btn-41 {
        border: 2px solid rgb(0, 0, 0);
        z-index: 1;
        color: rgb(0, 0, 0);
        
      }
      
      .btn-41:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        direction: rtl;
        z-index: -1;
        
        background: rgb(0, 0, 0);
        transition: all 0.3s ease;
      }
      
      .btn-41:hover {
        color: rgb(255, 255, 255);
    
      }
      
      .btn-41:hover:after {
        left: auto;
        right: 0;
        width: 100%;
      }
      
      .btn-41:active {
        top: 2px;
        align-items:center;
      }
      
  }